{% extends 'base.html' %}

<!-- Browser tab and page title -->
{% block header %}
	<br><br><br>
	<h1 class="text-center">{% block title %}Recipes{% endblock %}</h1>
{% endblock %}

<!-- Beginning of Body -->
{% block content %}
		<h3><a href="{{url_for('login')}}">Login Page</a></h3>
		<h1>Welcome, {{username}}, to your Recipe Book!</h1>
		<h2> Your Recipes</h2>
		<form method="POST" action="/">
		{% for recipe in recipes %}
			<h2><a href="/recipe/{{recipe.id}}">Recipe # {{recipe.id}}: {{recipe.title}}</a></h2>
		{% endfor %}
		</form>
		
{% endblock %}
